<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body>
    {{{body}}}

    Your ID is: {{id}}
    <br />
    <br />
    Track people:
	<div class="indent">
		<a href="{{trackingURL}}">{{trackingURL}}</a>
	</div>

    <br />
    Click this on all your other devices. This will set a cookie so that none of them get tracked:

    <div class="indent">
		<a href="{{setURL}}">{{setURL}}</a>
	</div>

   	
    <br />
    Embed this GIF link in your emails that you send, or open this gif in incognito: 

    <div class="indent">
		<a href="{{gifLink}}">{{gifLink}}</a>
	</div>

	<br />
    Refreshing this page will generate and set a new cookie.
  </body>

</html>
