<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    URL: {{url}}
    <br/>
    Your ID is: {{id}}
    <br/>
    If you click or load the following links, you won't be tracked: 
    <div class="indent">
    	<a href="{{idLink}}">{{idLink}}</a>
    	<br />
    	<a href="{{gifLink}}">{{gifLink}}</a>
    </div>
    you won't be tracked.
    <br/>
    Anyone that clicks or loads the above will be tracked.
    <br/>
    Refreshing this page will generate and set a new cookie with an updated ID.
  </body>
    }
</html>
